$color-input-button: #747070;
$color-system-button: #494747;

body {
  font-family: 'Roboto', sans-serif;
}

.keyboard_container {
  margin: 0 auto;
  width: 920px;
  text-align: center;
}

.keyboard_description {
  color: #b1afafd2;
}

.screen {
  width: 99%;
  height: 200px; 
  border: 1px solid $color-input-button;
  border-radius: 4px;
  margin: 20px 0px;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  color: $color-input-button;
}

.keyboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #b8b2b2d2;
  border: 1.5px solid $color-system-button;
  border-radius: 4px;
  width: 920px;
  height: 300px;
  padding-top: 10px;
  padding-left: 10px;
}

@mixin button($width) {
  height: 50px;
  width: $width;
  color: #ffffff;
  margin-right: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px #a19d9dd2;
  cursor: pointer;

  &:hover {
    background-color: #7c677c;
    box-shadow: 3px 3px 7px #6b6868d2;
  }
}

.button_type_input {
  background-color: $color-input-button;
}

.button_type_system {
  background-color: $color-system-button;
}

.button_size_xs {
  @include button(50px)
}

.button_size_s {
  @include button(57px)
}

.button_size_m {
  @include button(110px)
}

.button_size_l {
  @include button(120px)
}

.button_size_xl {
  @include button(420px)
}

.button_active {
  background-color: #7c677c;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #6b6868d2;
}
